#######################################################################
## C/C++
#######################################################################
# Object files
*.o
*.obj
*.ko
## depend file
*.d
## *nix static library
*.a
## *nix dynamic library
*.so
*.so.*
## windows  static library
*.lib
## windows dynamic library
*.dll
## disassemble
*.dis
## map file
*.map
## a.out format
*.out
## ELF format
*.elf
## Intel hex format
*.hex
## Motorola S record format
*.srec
# Precompiled Headers
*.gch
*.pch

#######################################################################
## Dot files
#######################################################################
.*
*.local.vimrc
*.pyclewn.project
*.clang_complete

#######################################################################
## Git files
#######################################################################
!**/.gitignore
!**/.gitmodules
!**/.gitkeep

#######################################################################
## Build directories
#######################################################################
**/[Bb]uild
**/[Dd]ebug
**/[Rr]elease

#######################################################################
## CMake
#######################################################################
**/CMakeFiles
**/CMakeCache.txt
**/cmake_install.cmake
test/Makefile

#######################################################################
## Qt Creator
#######################################################################
**/build-picox*
**/*.pro.user

#######################################################################
## Doxygen
#######################################################################
**/[Dd]oxygen

########################################################################
## Others
########################################################################
## tag file
tags
## cscope
*.out
*.bin
*.bak*
*.log
*.swp
*.gdb
*.cpio
*.exe
