[submodule "picox_external/spiffs"]
	path = picox_external/spiffs
	url = https://github.com/maskedw/spiffs
[submodule "picox_external/fatfs"]
	path = picox_external/fatfs
	url = https://github.com/maskedw/fatfs.git
[submodule "picox_external/sds"]
	path = picox_external/sds
	url = https://github.com/maskedw/sds.git
[submodule "picox_external/Unity"]
	path = picox_external/Unity
	url = https://github.com/maskedw/Unity.git
